# Example Usage of pyja_geocoder

This notebook demonstrates how to use the pyja_geocoder package for reverse geocoding in Japan.

## Installation

First, you need to install the package. Assuming you have it available, you can skip this step.
If you don't have it installed, you would typically install it using pip:
```bash
pip install pyja_geocoder
```

## Imports

In [1]:
import pyja_geocoder as pg

import pandas as pd
import geopandas as gpd

## Basic Usage: Reverse Geocoding a Single Point
Let's start by reverse geocoding a single point using its latitude and longitude.

In [2]:
latitude = 35.6895 
longitude = 139.6917
crs = "EPSG:4326"
city_names, city_code = pg.reverse_geocode_single(latitude, longitude, crs=crs)

print(f"Latitude: {latitude}, Longitude: {longitude}")
print(f"City Names: {city_names}")
print(f"City Code: {city_code}")

Downloading MLIT shapefile: 100%|██████████| 611M/611M [00:13<00:00, 44.6MB/s]

Latitude: 35.6895, Longitude: 139.6917
City Names: ['東京都' nan nan '新宿区' nan]
City Code: 13104

## Reverse Geocoding Multiple Points

You can also reverse geocode a list of points efficiently.

In [3]:
points = [
    (34.6937, 135.5023),  # Osaka
    (35.1795, 136.9023),  # Nagoya
    (43.0618, 141.3545),  # Sapporo
]
crs = "EPSG:4326"
results_df = pg.reverse_geocode_from_points(points, crs=crs)
print("Results for multiple points:")
results_df

Results for multiple points:

  N03_001 N03_002 N03_003 N03_004 N03_005 N03_007
0     大阪府     NaN     NaN     大阪市      北区   27127
1     愛知県     NaN     NaN    名古屋市      中区   23106
2     北海道   石狩振興局     NaN     札幌市     中央区   01101

## Reverse Geocoding from a Pandas DataFrame

If you have your coordinates in a Pandas DataFrame, you can use the  function.

In [4]:
data = {'latitude': [33.5000, 36.2048], 'longitude': [130.4000, 140.3625], 'location_id': ['A', 'B']}
crs = "EPSG:4326"
points_df = pd.DataFrame(data)
print("Input DataFrame:")
points_df

Input DataFrame:

   latitude  longitude location_id
0   33.5000   130.4000           A
1   36.2048   140.3625           B

In [5]:
results_df_from_df = pg.reverse_geocode_from_df(points_df, crs=crs)
print("Results from DataFrame:")
pd.concat([points_df, results_df_from_df], axis=1)

Results from DataFrame:

,latitude,longitude,location_id,N03_001,N03_002,N03_003,N03_004,N03_005,N03_007
0,33.5000,130.4000,A,福岡県,NaN,NaN,那珂川市,NaN,40231
1,36.2048,140.3625,B,茨城県,NaN,NaN,小美玉市,NaN,08236

## Reverse Geocoding from a GeoPandas GeoDataFrame

If you are already working with GeoPandas, you can directly use a GeoDataFrame.

In [6]:
geometry = gpd.points_from_xy(points_df['longitude'], points_df['latitude'], crs=crs)
points_gdf = gpd.GeoDataFrame(points_df, geometry=geometry)
print("Input GeoDataFrame:")
points_gdf

Input GeoDataFrame:

   latitude  longitude location_id                  geometry
0   33.5000   130.4000           A        POINT (130.4 33.5)
1   36.2048   140.3625           B  POINT (140.3625 36.2048)

In [7]:
results_gdf = pg.reverse_geocode_from_gdf(points_gdf)
print("Results from GeoDataFrame:")
pd.concat([points_gdf, results_gdf], axis=1)

Results from GeoDataFrame:

,latitude,longitude,location_id,geometry,N03_001,N03_002,N03_003,N03_004,N03_005,N03_007
0,33.5000,130.4000,A,POINT (130.4 33.5),福岡県,NaN,NaN,那珂川市,NaN,40231
1,36.2048,140.3625,B,POINT (140.3625 36.2048),茨城県,NaN,NaN,小美玉市,NaN,08236

## Delete Cache

In [8]:
pg.delete_cache()